<div>
    <select ng-model="showSelectValue"
            ng-init="getUserDetails()"
            ng-options="option as option for option in optionList"
            ng-change="getUserDetails()">
        </select><br><br>
</div>

<div class = "userdetails">

    <table>
        <tr>
            <th>NAME</th>
            <th>MAIL-ID</th>
            <th>DATE_OF_BIRTH</th>
            <th>PHONENUMBER</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>

        <tr ng-repeat="inventry in userdetails.inventry">
            <td>{{inventry.name}}</td>
            <td>{{inventry.mailId}}</td>
            <td>{{inventry.dateOfBirth}}</td>
            <td>{{inventry.phonenumber}}</td>
            <td>{{inventry.status}}</td>
            <td><button ng-if="inventry.status=='Disapproved'"
                        ng-click="ApprovedStatus(inventry,'Approved')">
                        Approve</button>
                <button ng-if="inventry.status=='Approved'"
                        ng-click="DisapprovedStatus(inventry,'Disapproved')">
                        Disapprove</button>
                <button ng-if ="inventry.status=='WFA'"
                        ng-click="ApprovedStatus(inventry,'Approved')">
                        Approve</button>
                <button ng-if ="inventry.status=='WFA'"
                        ng-click="DisapprovedStatus(inventry,'Disapproved')">
                        Disapprove</button></td>
        </tr>
    </table>
</div>
