<div>
    <select ng-model="showSelectValue"
            ng-init="getUserDetails()"
            ng-options="option as option for option in optionList"
            ng-change="getUserDetails()">
        </select>
</div>

<div class = "userdetails">

    <table border=1 style="border-collapse: collapse">

        <tr>
            <th>NAME</th>
            <th>MAIL-ID</th>
            <th>DATE_OF_BIRTH</th>
            <th>PHONENUMBER</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>

        <tr ng-repeat="inventry in inventry track by $index">
            <td>{{inventry.name}}</td>
            <td>{{inventry.mailId}}</td>
            <td>{{inventry.dateOfBirth}}</td>
            <td>{{inventry.phonenumber}}</td>
            <td>{{inventry.status}}</td>
            <p ng-if = "status == 'WFA'">
            <td><button ng-click = "updatestatus()">Approve</button></td>
        </p>
        </tr>
    </table>
</div>
